.home-view__view-wrapper {
  gap: 4rem;
  width: 80%;

  display: grid; grid-template-columns: 1fr 1fr;
}

.home-view__image-wrapper {
  display: flex; flex-direction: column; gap: 1.5rem; align-items: center;
}

.home-view__image-wrapper__image {
  width: 100%;

  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 var(--color-shadow);
}