
.ingredient-view__main__mode-choice-container {
  margin: 4rem 2rem;

  width: var(--width-inner-content);
  justify-content: space-around;
}

.ingredients-view__main__list-wrapper {
  margin-bottom: 4rem;
  padding: 3rem 4rem;

  width: var(--width-inner-content);
  background-color: white;
  flex-grow: 1;

}

.list-wrapper__table-element {
  width: 100%;
}



/* 
.list-wrapper__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.--grid-entries, .--grid-header {
  padding-top: 0.7rem;
  padding-bottom: 0.2rem;
}

.--grid-header {
  border-bottom: 2px solid black;
}

.--grid-entries {
  border-bottom: 1px solid black;
} 
*/