:root {
  --height-header: 6rem;
  --height-footer: 4rem;
  --width-sidebar: 250px;
}

.site__header,
.site__footer {
  background-color: white;
  width: 100%;

  position: fixed;

  z-index: 2;
}

.site__header {
  height: var(--height-header);
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-shadow: 0 1px 4px 0px var(--color-shadow);
}
.site__footer {
  height: var(--height-footer);
  bottom: 0;

  display: flex; justify-content: center; align-items: center;
}

.site-header__header, .site-header__nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site-header__header {
  margin-left: 5%;
  gap: 2rem;
}
.site-header__nav-bar {
  margin-right: 5%;

  display: flex; gap: 0.8rem;
}

.site-header__nav__nav-links:hover {
  color: var(--color-bluegrey-light);
}

.--current-loc {
  color: blueviolet;
}

.--justify-c-center {
  justify-content: center;
}