:root {
  --hamburger-menu-color: black;
  --height-hamburger-menu: 2rem;
  --width-hamburger-menu: calc(var(--height-hamburger-menu) * 4 / 3);
}

.nav-icon1 {
  /* margin: calc(var(--width-hamburger-menu) * 5 / 6  ) auto; */

  width: var(--width-hamburger-menu);
  height: var(--height-hamburger-menu);

  position: relative;

  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon1 span {
  display: block;
  position: absolute;


  height: calc(var(--height-hamburger-menu) * 1 / 5);
  width: 100%;

  background: var(--hamburger-menu-color);
  border-radius: calc(var(--height-hamburger-menu) * 1 / 5);

  opacity: 1;
  left: 0;

  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-icon1 span:nth-child(1) {
  top: 0px;
}

.nav-icon1 span:nth-child(2) {
  top: calc(var(--height-hamburger-menu) * 2 / 5);
}

.nav-icon1 span:nth-child(3) {
  top: calc(var(--height-hamburger-menu) * 4 / 5);
}

.nav-icon1.--hamburger-menu-open span:nth-child(1) {
  top: calc(var(--height-hamburger-menu) * 2 / 5);

  transform: rotate(135deg);
}

.nav-icon1.--hamburger-menu-open span:nth-child(2) {
  opacity: 0;
  left: calc(var(--width-hamburger-menu) * -1);
}

.nav-icon1.--hamburger-menu-open span:nth-child(3) {
  top: calc(var(--height-hamburger-menu) * 2 / 5);

  transform: rotate(-135deg);
}